CA_EntropyModel/models/
TraditionalMethods/jpeg_compressed_files/
TraditionalMethods/png_compressed_files/
TraditionalMethods/webp_lossless_compressed_files/
TraditionalMethods/webp_lossy_compressed_files/
*.pyc
